body {
  font-family: "Arial", sans-serif;
  padding: 0;
  margin: 0; }

.cleaner {
  width: 100%;
  height: 1px;
  clear: both; }

h1 {
  color: #8b8888;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 70px;
  margin: 0px auto 10px; }

.description {
  font-style: italic;
  color: #8d8989;
  text-align: center;
  font-family: Georgia, Arial, sans;
  display: block;
  font-size: 24px;
  margin: 10px auto 50px;
  width: 800px; }

.heading {
  color: #8b8888;
  font-size: 24px;
  font-weight: bold;
  margin: 50px auto 0;
  text-align: center;
  text-transform: uppercase; }

footer {
  text-align: center;
  border-top: 1px solid #cdcdcd;
  display: block;
  height: auto;
  overflow: hidden;
  padding: 25px 0;
  position: relative;
  width: 100%;
  margin-top: 50px; }
  footer .centered {
    display: block;
    margin: 0 auto;
    padding: 10px;
    text-align: center; }
  footer .link {
    color: #de0000;
    display: inline-block;
    font-size: 13px;
    margin-right: 0.4em;
    text-align: left;
    padding: 0; }
