body {
  font-family: "Arial", sans-serif;
  padding: 0;
  margin: 0; }

.cleaner {
  width: 100%;
  height: 1px;
  clear: both; }

h1 {
  color: #8b8888;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 70px;
  margin: 0px auto 10px; }

.description {
  font-style: italic;
  color: #8d8989;
  text-align: center;
  font-family: Georgia, Arial, sans;
  display: block;
  font-size: 24px;
  margin: 10px auto 50px;
  width: 800px; }

.heading {
  color: #8b8888;
  font-size: 24px;
  font-weight: bold;
  margin: 50px auto 0;
  text-align: center;
  text-transform: uppercase; }

footer {
  text-align: center;
  border-top: 1px solid #cdcdcd;
  display: block;
  height: auto;
  overflow: hidden;
  padding: 25px 0;
  position: relative;
  width: 100%;
  margin-top: 50px; }
  footer .centered {
    display: block;
    margin: 0 auto;
    padding: 10px;
    text-align: center; }
  footer .link {
    color: #de0000;
    display: inline-block;
    font-size: 13px;
    margin-right: 0.4em;
    text-align: left;
    padding: 0; }

header #logo {
  margin: 35px auto 25px auto; }
  header #logo a {
    width: 176px;
    height: 67px;
    display: block;
    background: url(/assets/img/logo.png) no-repeat;
    font-size: 0px;
    line-height: 0px;
    cursor: pointer;
    margin: 0 auto; }
    header #logo a span {
      display: none; }
header .description {
  width: 530px; }

#projects {
  width: 960px;
  margin: 25px auto; }
  #projects article {
    float: left;
    margin: 1%;
    width: 31%; }
    #projects article h2 {
      font-size: 25px;
      padding: 0 24px 2px;
      margin: 0;
      font-weight: normal; }
      #projects article h2 a {
        color: #de0000;
        text-decoration: none; }
    #projects article p {
      color: #676767;
      font-size: 14px;
      line-height: 24px;
      padding: 0 24px;
      margin: 0; }
